@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');
.itemListContainer{
    font-size: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
